## Prediction on Evaluation Data

In [ ]:
import pandas as pd

heart_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Heart_Disease/Training_set_heart.csv" )

heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  212.000000  212.000000  212.000000  ...  212.000000  212.000000  212.000000
mean    54.561321    0.688679    0.915094  ...    0.783019    2.320755    0.542453
std      9.493376    0.464130    1.008193  ...    1.066551    0.646495    0.499374
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.000000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     57.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.250000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   48    1   2       124   255    1  ...      0      0.0      2   2     2       1
1   68    0   2       120   211    0  ...      0      1.5      1   0     2       1
2   46    1   0       120   249    0  ...      0      0.8      2   0     3       0
3   60    1   0       130   253    0  ...      1      1.4      2   1     3       0
4   43    1   0       115   303    0  ...      0      1.2      1   0     2       1

[5 rows x 14 columns]

In [ ]:
heart_data_features=['age',	'sex',	'cp',	'trestbps',	'chol',	'fbs',	'restecg','thalach',	'exang',	'oldpeak',	'slope',	'ca',	'thal']
x=heart_data[heart_data_features]
print(x)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     48    1   2       124   255  ...      0      0.0      2   2     2
1     68    0   2       120   211  ...      0      1.5      1   0     2
2     46    1   0       120   249  ...      0      0.8      2   0     3
3     60    1   0       130   253  ...      1      1.4      2   1     3
4     43    1   0       115   303  ...      0      1.2      1   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
207   67    1   0       120   229  ...      1      2.6      1   2     3
208   58    0   3       150   283  ...      0      1.0      2   0     2
209   60    1   0       145   282  ...      1      2.8      1   2     3
210   62    0   0       124   209  ...      0      0.0      2   0     2
211   58    0   0       170   225  ...      1      2.8      1   2     1

[212 rows x 13 columns]

In [ ]:
y=heart_data.target

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(random_state=1)
model.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
model.predict(x)

array([1., 1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 0., 0.,
       0., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0., 1.,
       1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
       1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1.,
       1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0.,
       0., 1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0.,
       1., 1., 1., 0., 1., 0., 1., 0.])

"test_new" is test data for which we need to predict the target variable

In [ ]:
target = model.predict(x) # you must do a pre-processing on your evaluation data

## How to save prediciton results locally via jupyter notebook?
If you are working on Jupyter notebook, execute below block of codes. A file named 'prediction_results.csv' will be created in your current working directory.

In [ ]:
res = pd.DataFrame(target) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = x.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
res.to_csv("prediction_results.csv", index = False)      # the csv file will be saved locally on the same location where this notebook is located.

## How to save prediction results locally via colab notebook?
If you are working on Google Colab Notebook, execute below block of codes. A file named 'prediction_results' will be downloaded in your system.

In [ ]:
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(target) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = x.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results.csv')         
files.download('prediction_results.csv')